[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
photoidmagick = "*"
carvekit = {git = "https://github.com/dzianisv/image-background-remove-tool/"}

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.17"
